<!DOCTYPE html>
<html lang="ru">


    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Новостной сайт">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <title>Новостной сайт - ошибка 404</title>
        {% load static %}                                                           {# подгрузим сценарии и стили #}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
<br><br><br>

<center>
    <font size="20pt"><b>ОШИБКА 404: СТРАНИЦА НЕ НАЙДЕНА</b></font><br>
    <a href="/news/">перейти на главную страницу</a>
</center>

    </body>
</html>